.dorion-folders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dorion-plugin-header {
    border-bottom: 1px solid var(--background-tertiary);
    padding-bottom: 16px;
}

.dorion-folders>div {
    margin: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dorion-folder-icon {
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-right: 6px;
}

.dorion-folder-icon svg {
    width: 85%;
    height: 85%;
    color: var(--primary-230)
}

.dorion-plugins {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dorion-plugin-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dorion-plugin-row .switch-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.dorion-plugin-row .main-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.dorion-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}